@charset "UTF-8";
body {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
}

/* 背景アニメーション */
#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
}

/* ナビゲーション */
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin: 0 50px;
}
@media screen and (max-width: 767px) {
  .navigation {
    padding: 15px 0;
    margin: 0 10px;
  }
}

.navhead {
  color: white;
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .navhead {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: white;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
}

.fa-solid {
  margin: 0 10px;
}

.nav-icon i {
  height: 25px;
  width: 25px;
}
@media screen and (max-width: 767px) {
  .nav-icon i {
    height: 15px;
    width: 15px;
  }
}

/* kv */
.kv {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .kv {
    display: block;
  }
}

.kv-img {
  margin: 0 auto;
  width: 100%;
}

.kv h1 {
  margin: 0 auto;
  writing-mode: vertical-rl;
  color: white;
  font-size: 40px;
}
@media screen and (max-width: 767px) {
  .kv h1 {
    writing-mode: horizontal-tb;
    font-size: 20px;
    margin: 50px auto;
  }
}

.kv h2 {
  margin: 0 auto;
  color: white;
  font-size: 23px;
}
@media screen and (max-width: 767px) {
  .kv h2 {
    font-size: 13px;
  }
}

/* メインコンテンツ */
.mainwrap {
  margin: 200px;
}
@media screen and (max-width: 767px) {
  .mainwrap {
    margin: 100px 50px;
  }
}

.topcontent {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .topcontent {
    display: block;
    text-align: center;
  }
}

.content2 {
  flex-direction: row-reverse;
  margin-top: 100px;
}

span {
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  span {
    font-size: 15px;
  }
}

.content-img1,
.content-img2 {
  width: 500px;
  height: 500px;
}
@media screen and (max-width: 767px) {
  .content-img1,
  .content-img2 {
    width: 250px;
    height: 250px;
  }
}

.toptext {
  width: 100%;
  margin: 150px 30px 0;
}
@media screen and (max-width: 767px) {
  .toptext {
    margin: 0 auto;
    text-align: left;
  }
}

.toptext h1 {
  font-size: 35px;
  color: white;
}
@media screen and (max-width: 767px) {
  .toptext h1 {
    font-size: 20px;
  }
}

.toptext p {
  font-size: 20px;
  color: white;
}
@media screen and (max-width: 767px) {
  .toptext p {
    font-size: 10px;
  }
}

/* hover */
.hovertitle {
  color: #fff;
  text-align: center;
  margin: 70px 0;
}
@media screen and (max-width: 767px) {
  .hovertitle {
    margin: 70px 0 50px;
  }
}

.hover-wrapp {
  margin: 0 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}
@media screen and (max-width: 767px) {
  .hover-wrapp {
    display: block;
    margin: 0 50px;
  }
}

.hover {
  width: 300px;
  padding-bottom: 30px;
  border: #fff solid 1px;
  border-radius: 5%;
}
.hover p {
  margin: 15px 10px;
}
@media screen and (max-width: 767px) {
  .hover {
    margin-bottom: 20px;
  }
}

.hover-img {
  width: 300px;
  height: 300px;
  border-radius: 5% 5% 0 0;
}

#viewlink {
  width: 100%;
  height: 100px;
  margin-top: 300px;
  margin-left: 50px;
}

#viewlink p,
.yajirushi {
  color: #fff;
  font-size: 20px;
  position: relative;
}

.yajirushi::before {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
  width: 127px;
  height: 1px;
  background: #fff;
}

.yajirushi::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100px;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-color: transparent transparent #fff;
  transform: rotate(-135deg);
}

/* フッター */
.footer-wrrapper {
  margin: 0 auto;
  padding: 100px 200px;
  text-align: center;
  border-top: 1px solid white;
  margin-top: 200px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-wrrapper {
    padding: 60px 50px;
  }
}

.footer {
  padding: 0;
  margin-right: 100px;
  list-style: none;
  display: block;
  line-height: 30px;
  color: white;
  font-size: 20px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .footer {
    font-size: 10px;
    line-height: 15px;
    margin-right: 50px;
  }
}

.copyright {
  text-align: center;
}

.copyright p {
  color: #fff;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .copyright p {
    font-size: 10px;
  }
}

.footer.social-list li {
  line-height: 40px;
}
@media screen and (max-width: 767px) {
  .footer.social-list li {
    line-height: 30px;
  }
}

.footer .fa {
  font-size: 25px;
  color: white;
}
@media screen and (max-width: 767px) {
  .footer .fa {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */